.userInfo {
  padding: 1.25rem;
  display: flex;
  align-items: center;
  justify-content: space-between;

  .user {
    display: flex;
    align-items: center;
    gap: 1.25rem;

    img {
      width: 3.125rem;
      height: 3.125rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }
  .icons{
    display: flex;
    gap: 1.25rem;

    img{
        width: 1.25rem;
        height: 1.25rem;
    }
  }
}

button {
  padding: 0.9375rem;
  background-color: rgba(230, 74, 105, 0.553);
  color: white;
  border: none;
  border-radius: 0.3125rem;
  cursor: pointer;

  &:hover{
    background-color: rgba(220, 20, 60, 0.796);
  }

  &.logout{
    padding: 0.625rem;
    background-color: rgba(74, 126, 230, 0.553);

    &:hover{
        background-color: rgba(20, 73, 220, 0.796);
    }
  }
}
