.detail {
  flex: 1;

  .user {
    padding: 1.875rem 1.25rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 0.625rem;
    border-bottom: 0.0625rem solid #dddddd35;

    img {
      width: 6.25rem;
      height: 6.25rem;
      border-radius: 50%;
      object-fit: cover;
    }
  }

  .info {
    padding: 1.25rem;
    display: flex;
    flex-direction: column;
    gap: 0.9375rem;

    .option {
      .title {
        display: flex;
        align-items: center;
        justify-content: space-between;

        img {
          width: 1.875rem;
          height: 1.875rem;
          background-color: rgba(17, 25, 40, 0.3);
          padding: 0.625rem;
          border-radius: 50%;
          cursor: pointer;
        }
      }

      .photos {
        display: flex;
        flex-direction: column;
        gap: 1.25rem;
        margin-top: 1.25rem;

        .photoItem {
          display: flex;
          align-items: center;
          justify-content: space-between;
          overflow-y: auto;

          .photoDetail {
            display: flex;
            align-items: center;
            gap: 1.25rem;

            img {
              width: 2.5rem;
              height: 2.5rem;
              border-radius: 0.3125rem;
              object-fit: cover;
            }

            span {
              font-size: 0.875rem;
              color: lightgray;
              font-weight: 300;
            }
          }

          .icon {
            width: 1.875rem;
            height: 1.875rem;
            background-color: rgba(17, 25, 40, 0.3);
            padding: 0.625rem;
            border-radius: 50%;
            cursor: pointer;
          }
        }
      }
    }
    button {
      padding: 0.9375rem;
      color: white;
      border: none;
      border-radius: 0.3125rem;
      cursor: pointer;
      background-color: rgba(255, 0, 0, 0.47);

      &:hover {
        background-color: rgba(212, 0, 42, 0.827);
      }
    }
  }
}
