.addUser {
  text-align: center;
  max-width: 26.25rem;
  height: 30rem;
  padding: 1.875rem;
  background-color: rgb(16, 46, 75);
  border-radius: 0.625rem;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;
  -webkit-box-shadow: 5px 5px 10px 0px #000000;
  box-shadow: 5px 5px 10px 0px #000000;

  h2 {
    padding: 0.625rem 0.625rem 2.5rem;
    color: rgb(255, 255, 255);
    border-bottom: 1px solid gray;
  }

  button {
    padding: 1.25rem;
    border-radius: 0.625rem;
    background-color: #1a73e8;
    color: white;
    border: none;
    cursor: pointer;
  }

  .users {
    margin: 1.25rem 0rem;
    overflow-y: auto;
    height: 20rem;
    border-bottom-right-radius: 0.75rem;
    border-bottom-left-radius: 0.75rem;
  }

  .user {
    padding: 0.625rem;
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: rgba(14, 23, 42, 0.711);

    .detail {
      display: flex;
      align-items: center;
      gap: 1.25rem;

      img {
        width: 3.125rem;
        height: 3.125rem;
        border-radius: 50%;
        object-fit: cover;
      }
    }

    button {
      padding: 0.625rem;
      border-radius: 0.625rem;
      background-color: #1a73e8;
      color: white;
      border: none;
      cursor: pointer;

      &:hover {
        background-color: rgba(20, 73, 220, 0.796);
      }
    }
  }
}
